.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.inner {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-sm);
    padding-bottom: var(--mantine-spacing-sm);
}

.logo {
    width: 120px;
}
